:root {
    --circle-size: 17vmin;
    --circle-spacing: calc((var(--circle-size) * 0.866) * 1.27);
}

body {
    font-family: 'Roboto';
    margin: 100 100 150 0;
    padding: 0 0 100px 0; /* Added padding-bottom */
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh; /* Ensures full viewport height */
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(180deg, #fcf9f7 0%, #cce7e8 7%, #588485 25%, #66b7ba 50%, #003344 95%);
}

.header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
    background-color: transparent;
}

.header a {
    margin-left: 20px;
    text-decoration: none;
    color: #005566;
    font-size: 1rem;
    font-weight: normal;
    transition: color 0.3s ease;
}

.header a:hover,
.header a:focus {
    color: #007a99;
    text-decoration: underline;
}

.header a:focus {
    outline: 2px solid #007a99;
    outline-offset: 2px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25vh 25px;
    grid-column: 1 / 2;
    overflow: auto;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
}

.main h1 {
    font-size: 7rem;
    margin: 0;
    font-weight: 520;
}

.main h2 {
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
    font-weight: 300;
}

.main p {
    font-size: 1.38rem;
    color: #0099cc;
    margin: 0;
    line-height: 1.;
    text-align: justify;
    word-wrap: break-word;
    
}

.cta-button {
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    padding: 12px 30px;
    margin-top: 20px;
    font-size: 1.25rem;
    color: #fff;
    background-color: #00758d;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.cta-button:hover {
    background-color: #007a99;
    transform: scale(1.05);
}

.circle-container {
    position: relative;
    width: calc(var(--circle-spacing) * 2.1);
    height: calc(var(--circle-spacing) * 1.85);
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

.circle {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5vmin;
    font-weight: bold;
    position: absolute;
    transition: transform 0.3s ease, background-color 0.3s ease;
    animation: fadeIn 1s ease-in-out;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circle:hover {
    transform: scale(1.1);
    background-color: rgba(0, 85, 102, 0.4);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moveDown {
    0% {
        transform: translate(-50%, -100px);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, 20px);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

.circle:nth-child(1) {
    background-color: rgba(0, 191, 255, 0.85);
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    animation: moveDown 1.5s ease-out forwards;
}

.circle:nth-child(2) {
    background-color: rgba(79, 128, 148, 0.96);
    bottom: 0;
    left: 0;
}

.circle:nth-child(3) {
    background-color: rgba(0, 31, 38, 0.85);
    bottom: 0;
    right: 0;
}


/* Modal Styles */
.form-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    transition: opacity 0.5s;
    opacity: 0;
    overflow-y: auto;
}

.form-modal.active {
    display: block;
    opacity: 1;
}

.form-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    max-width: 700px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s ease-out, fadeIn 0.5s ease-out;
    position: relative;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover,
.close-button:focus {
    color: #000;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form-content {
    animation: zoomIn 0.5s ease-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.services-section {
    padding: 60px 0px;
    color: #fff;
    position: relative;
    overflow: hidden;
    grid-column: 1 / -1; /* Span full width */
}

.services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    text-align: center; /* Center the heading */
}

.services-section h2::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #ffcc00;
    display: block;
    margin: 10px auto 0;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the services */
    gap: 15px; /* Add gap for better spacing */
    max-width: 100%; /* Ensure it doesn't overflow */
}

.service, .service1 {
    background: rgba(112, 112, 112, 0.02);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    position: relative;
    z-index: 1;
    max-width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service1 {
    max-width: calc(100vh/6);
}

.service h3, .service1 h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #ffcc00;
}

.service p, .service1 p {
    font-size: 1rem;
    line-height: 1.6;
}

.service:hover, .service1:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.404);
    background: rgba(0, 31, 38, 0.555);
}

.service-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.service-icon svg {
    width: 100%;
    height: 100%;
    fill: #ffcc00;
}

.service:hover .service-icon {
    transform: rotate(360deg);
}

.call-to-action {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #005566;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    display: none;
    text-decoration: none;
}

.service:hover .call-to-action {
    display: block;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        justify-content: center;
        padding: 10px;
    }
    .main {
        padding: 10px;
        text-align: center;
    }
    .main h1 {
        font-size: 3rem;
    }
    .main h2 {
        font-size: 1.5rem;
    }
    .main p {
        font-size: 1rem;
    }
    .circle-container {
        display: none;
    }
    .services-section {
        padding: 40px 0;
    }
    .services-section h2 {
        font-size: 2rem;
    }
    .service {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .service h3 {
        font-size: 1.5rem;
    }
    .service p {
        font-size: 0.9rem;
    }
}